{% extends "home/index.html" %}
{% block content %}
    <h2 class="item-padding text-center">Detalhes da Monitoria</h2>

    <form method="POST" action="{% url 'home:update_monitoria' monitoria.id %}"class="flex-column">
        {% csrf_token %}
        <div class="flex-row-space-between item-padding">
            <label for="matricula" class="font-label">Username:</label>
            <input type="text" name="username" id="username" class="form-cadastro" value="{{monitoria.username}}" readonly>
        </div>
        <div class="flex-row-space-between item-padding">
            <label for="name" class="font-label">Name: </label>
            <input type="text" name="name" id="name" class="form-cadastro" value="{{monitoria.first_name}}  {{monitoria.last_name}}" readonly>
        </div>
        <div class="flex-row-space-between item-padding">
            <label for="date" class="font-label">Data:</label>
            <input type="text" name="date" id="date" class="form-cadastro" value="{{monitoria.date}}" readonly>
        </div>
        <div class="flex-row-space-between item-padding">
            <label for="status_monitoria">Status:</label>
            <select name="status" id="status_monitoria" class="border-white font-select">
                <option value="Ausente"
                    class="font-select text-center"
                    {% if monitoria.status == "Ausente" %}
                        selected
                    {% endif %}>Ausente</option>
                <option value="Presente"
                    class="font-select text-center"
                    {% if monitoria.status == "Presente" %}
                        selected
                    {% endif %}
                >Presente</option>
            </select>
        </div>
        <button type="submit" class="btn-send">Atualizar</button>
    </form>
{% endblock %}